nbproject/
.DS_Store
Thumbs.db
.modgit/
.buildpath
.project
.settings/
.idea/
*.wx*
composer.phar
app/config/config.ini.dev
app/config/config.ini.stagez
dump.rdb

vendor/
/var/
composer.lock
app/config/config.php
app/config/config.ini
public/temp/*
public/img/tmp/
public/cache/*
public/assets/js/min/*
public/assets/css/*/*
!public/assets/css/fonts/*
!public/assets/css/img/*
public/index.php
cache/*.ph*
*/cache/*.ph*
*/.DS_Store
*/Thumbs.db
!public/temp/

*.bak
/app/config/config.ini.*
/app/config/config.*.ini
/app/config/config.php
!/app/config/config.template.ini
*~